<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="pt-5">
      <div class="container page-content">
        <div class="row">
          <div class="col-10">
            {{ content }}
          </div>
          <div class="col-2 ml-auto pt-5 hide-small">
            {%- include sidebar.html -%}
          </div>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
